
body, html, *{
  box-sizing: border-box;
}
.App-header h1{
  display: flex;
  margin: 0 0 20px 0 !important;
  width: 100%;
  font-size: 30px;
  align-items: center;
}
.wallet-adapter-dropdown{
  margin-bottom: 0 !important;
  margin-left: auto;
}

.balanceandwalletmain{
  width: 50%;
  background: #fff;
  color: #000;
  border-radius: 6px;
  padding: 20px;
  margin: 0 auto;
}

.balanceandwalletmain p{
  margin: 0 !important;
  padding: 0 !important;
}

.transfertokenform{
  width: 50%;
  background: #fff;
  color: #000;
  border-radius: 6px;
  padding: 20px;
  margin: 0 auto;
}

.transfertokenform h3{
  margin: 0 !important
}

.transfertokenform input{
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  padding: 10px 12px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

button{
  padding: 8px 24px;
  font-size: 16px;
  color: #000;
  background-color: aquamarine;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}